In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [50]:
data = pd.read_csv("Desktop/CSV/salaries(Decision Tree).csv")
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [51]:
inputs = data.drop('salary_more_then_100k', axis =  'columns')
inputs

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [52]:
target = data['salary_more_then_100k']
target

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [53]:
from sklearn.preprocessing import LabelEncoder

In [58]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [60]:
inputs['company'] = le_company.fit_transform(inputs['company'])
inputs['job'] = le_job.fit_transform(inputs['job'])
inputs['degree'] = le_degree.fit_transform(inputs['degree'])

inputs

   company  job  degree
0        0    2       0
1        0    2       1
2        0    0       0
3        0    0       1
4        0    1       0

In [64]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

model.fit(inputs,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [68]:
model.predict([[0,0,0]])

array([1])